/* Google font imports */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Raleway:wght@100..900&family=Roboto:ital@0;1&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --primary-color: #2a2d3c;
    --hightlight-color: #1099d7;
}

/* Global styles */

body {
    font-family: var(--primary-font);
    padding-top: 59px;
    background-color: #f7f7f7;
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h2 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-decoration: 2px underline #c0c0c0;
    text-underline-offset: .5rem;
}

.section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.card-heading-color {
    color: var(--hightlight-color);
}

/* Navbar */

#navbar {
    background-color: var(--primary-color);
    /* shadow code taken from love running project */
    box-shadow: 0 2px 2px #3a3a3a;
}

#navbar .logo {
    width: 32px;
}

/* Header */

header {
    background: url(/assets/images/hero-image.jpeg) no-repeat center center / cover;
    min-height: 30vh;
}

#hero h1,
#hero p {
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
}

/* Main */

/* About us section */


/* Footer */

#footer i {
    font-size: 140%;
    color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

