/* Google font imports */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Raleway:wght@100..900&family=Roboto:ital@0;1&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --primary-color: #2a2d3c;
    --hightlight-color: #1099d7;
    --secondary-highlight-color: #C71585;
}

/* Global styles */

body {
    font-family: var(--primary-font);
    padding-top: 59px;
    background-color: #f7f7f7;
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

.section-heading {
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-decoration: 2px underline #c0c0c0;
    text-underline-offset: .5rem;
}

.section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.card-heading-color {
    color: var(--hightlight-color);
}

.custom-btn {
    background-color: var(--secondary-highlight-color);
    border-color: var(--secondary-highlight-color);
    color: white;
}

.custom-btn:hover {
    background-color: #B11176;
    color: white;
}

.custom-btn-outline {
    border: 2px solid var(--secondary-highlight-color);
    color: var(--secondary-highlight-color);
}

.custom-btn-outline:hover {
    background-color: var(--secondary-highlight-color);
    border-color: var(--secondary-highlight-color);
    color: white;
}

/* Navbar */
#navbar {
    background-color: var(--primary-color);
    /* shadow code taken from love running project */
    box-shadow: 0 2px 2px #3a3a3a;
}

#navbar .logo {
    width: 32px;
}

/* Header */


#hero h1,
#hero p, 
#hero-services h1,
#hero-services p,
#hero-contact h1,
#hero-contact p{
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
}

/* About us page */

/* Header */
#hero {
    background: url(../images/hero-image.webp) no-repeat center center / cover;
    /* Background color added so white text is readable if images dont load */
    background-color: #3a3a3a;
    min-height: 30vh;
}

/* contact-info */
#contact-info {
    border-top: 2px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
    margin-bottom: 2rem;
}

.contact-icons {
    max-height: 8vh;
    object-fit: contain;
}

#contact-info .card {
    background: none;
    border: none;
}

#contact-info a {
    text-decoration: none;
}

.contact-info-heading-color {
    color: var(--secondary-highlight-color);
}

/* Services page */

/* Header */
#hero-services {
    background: url(../images/hero-image-services.webp) no-repeat center center / cover;
    /* Background color added so white text is readable if images dont load */
    background-color: #3a3a3a;
    min-height: 30vh;
}

#services img {
    max-height: 25vh;
    object-fit: contain;
}

/* Removes unwanted bootstrap styles */
#services .card {
    background: none;
    border: none;
}

#services .card-body {
    background-color: white;
    border-radius: 10px;
    margin-top: 2rem;
}


/* Contact page */

#hero-contact {
    background: url(../images/hero-image-contact.webp) no-repeat center center / cover;
    /* Background color added so white text is readable if images dont load */
    background-color: #3a3a3a;
    min-height: 30vh;
}

/* Success page / 404 page */

.user-message {
    font-family: var(--primary-font);
    margin-bottom: 1rem;
    line-height: 1.5;
}

/* Footer */

#footer {
    background-color: var(--primary-color);
}

#footer i {
    font-size: 140%;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Media queries */

/* Small devices for (phone 320px and up) */

/* Medium devices for (tablets 768px and up) */

@media screen and (min-width: 768px) {
    /* Make top two about-us cards the same height for consistency */
    #about-us .card-body {
        min-height: 393px;
    }
    /* Remove excess space from map-card */
    #about-us #map-card {
        min-height: auto;
    }
        /* services page */
    /* Make all services cards the same height */
    #services .card-body {
        min-height: 379px;
    }         
}

/* large devices for (small laptops, 992px and up) */

@media screen and (min-width: 992px) {
    /* Make all about-us cards the same height for consistency */
    #about-us .card-body {
        min-height: 323px;
    }
    /* services page */
    /* Make all services cards the same height */
    #services .card-body {
        min-height: 324px;
    }         
}

/* xl devices for (large desktops, 1200px and up) */

@media screen and (min-width: 1200px) {
    /* Make all about-us cards the same height for consistency */
    #about-us .card-body,
    #about-us #map-card {
        min-height: 372px;
    }
    /* Make all about-us card images the same height for consistency */
    #about-us img {
        max-height: 236px;
    }
    /* services page */
    /* Make all services cards the same height */
    #services .card-body {
        min-height: 479px;
    }
}

/* xxl devices for (larger desktops, 1200px and up) */

@media screen and (min-width: 1400px) {
    /* Make all about-us cards the same height for consistency */
    #about-us .card-body,
    #about-us #map-card {
        min-height: 348px;
    }

    #about-us img {
        max-height: 276px;
    }
}